<div id="loader">
    <h1>it's time</h1>
    <h1>to PUSH</h1>
    <h1>the BOUNDARIES</h1>
</div>
<div id="homeMain">
    <div *ngIf="!isLoggedIn()">
        <app-navbar></app-navbar>
    </div>

    <div *ngIf="isAdmin()">
        <app-adminnav></app-adminnav>
    </div>

    <div *ngIf="isUser()">
        <app-usernav></app-usernav>
    </div>

    <div class="main">
        <div class="textmain">
            <h1>TRAINING<br>
                HUB</h1>
            <P>Training Hub is an all-in-one platform that connects users with diverse physical training programs tailored to various fitness levels and goals. The app offers a wide range of training options, from strength conditioning and flexibility improvement to specialized programs like yoga and high-intensity interval training (HIIT). Each program is led by certified trainers and includes comprehensive descriptions, required physical prerequisites, and easy enrollment options. Training Hub aims to make fitness accessible and engaging, providing users with personalized guidance to achieve their wellness and fitness goals.</P>
        </div>
        <div id="heroshape">
            <div id="hero1"></div>
            <div id="hero2"></div>
            <div id="hero3"></div>
        </div>
    </div>
    <div id="movingtext">
        <div class="con">
            <h1>DIVERSE TRAINING PROGRAMS</h1>
            <div id="gola"></div>
            <h1>CERTIFIED TRAINERS</h1>
            <div id="gola"></div>
            <h1>PERSONALIZED GUIDANCE</h1>
            <div id="gola"></div>
            <h1>EASY ENROLLMENT</h1>
            <div id="gola"></div>
        </div>
        <div class="con">
            <h1>DIVERSE TRAINING PROGRAMS</h1>
            <div id="gola"></div>
            <h1>CERTIFIED TRAINERS</h1>
            <div id="gola"></div>
            <h1>PERSONALIZED GUIDANCE</h1>
            <div id="gola"></div>
            <h1>EASY ENROLLMENT</h1>
            <div id="gola"></div>
        </div>
        <div class="con">
            <h1>DIVERSE TRAINING PROGRAMS</h1>
            <div id="gola"></div>
            <h1>CERTIFIED TRAINERS</h1>
            <div id="gola"></div>
            <h1>PERSONALIZED GUIDANCE</h1>
            <div id="gola"></div>
            <h1>EASY ENROLLMENT</h1>
            <div id="gola"></div>
        </div>
    </div>

</div>